FROM balenalib/aarch64-debian:sid as builder

WORKDIR /uwsgi

RUN apt-get update -q \
  && apt-get install --no-install-recommends -qy ca-certificates gcc git libcap-dev libjansson-dev \
    libjemalloc-dev libpcre3-dev libxml2-dev libyaml-dev python3-dev python3-distutils zlib1g-dev

RUN git clone --depth=1 https://github.com/unbit/uwsgi.git /uwsgi \
  && printf "\
[uwsgi]\n\
inherit=base\n\
main_plugin=python\n\
malloc_implementation=jemalloc\n\
yaml=libyaml\n\
" >/uwsgi/buildconf/default.ini

RUN python3 uwsgiconfig.py --build

RUN git clone --depth=1 https://github.com/healthchecks/healthchecks.git /hc
