dist: xenial
sudo: required
language: bash
services: 
  - docker
addons:
  apt:
    packages:
    - jq

jobs:
  include:
    - stage: test
      env: HADOLINT=${HOME}/hadolint
      install: curl -sLo ${HADOLINT} $(curl -s https://api.github.com/repos/hadolint/hadolint/releases/latest?access_token=${GITHUB_TOKEN} | jq -r '.assets | .[] | select(.name=="hadolint-Linux-x86_64") | .browser_download_url')
               && chmod 700 ${HADOLINT}
      script:
        - git ls-files --exclude='*Dockerfile' --ignored | xargs --max-lines=1 ${HADOLINT}
        - bash -c 'shopt -s globstar; shellcheck **/*.sh'
    - &build
      stage: build
      env: IMAGE=archisteamfarm
      script:
        - cd ${IMAGE}
        - make build
        - docker images
      after_success:
        - if [ "${TRAVIS_BRANCH}" == "master" ]; then
            make push ;
          fi
    - <<: *build
      env: IMAGE=code-server
      script:
        - cd ${IMAGE}
        - make build amd64
        - docker images
      after_success:
        - if [ "${TRAVIS_BRANCH}" == "master" ]; then
            make push amd64 ;
          fi
    - <<: *build
      env: IMAGE=code-server
      script:
        - cd ${IMAGE}
        - make build arm64v8
        - docker images
      after_success:
        - if [ "${TRAVIS_BRANCH}" == "master" ]; then
            make push arm64v8 ;
          fi
    # - <<: *build
    #   env: IMAGE=freshrss
    - <<: *build
      env: IMAGE=kibitzr
    - <<: *build
      env: IMAGE=reddiscord
    - <<: *build
      env: IMAGE=reddiscord
      script:
        - cd ${IMAGE}
        - make build-source
        - docker images
      after_success:
        - if [ "${TRAVIS_BRANCH}" == "master" ]; then
            make push-source ;
          fi 
   # - <<: *build
   #   env: IMAGE=watchtower
    - <<: *build
      env: IMAGE=zeronet
