FROM {% if as is defined %}balenalib/aarch64-debian:sid as {{ as }}{% else %}balenalib/aarch64-debian:sid{% endif %}

RUN [ "cross-build-start" ]

{% set Dockerfile = Dockerfile|default('Dockerfile.j2') %}{% include Dockerfile %}

RUN [ "cross-build-end" ]
