FROM {% if as is defined %}balenalib/armv7hf-debian:sid as {{ as }}{% else %}balenalib/armv7hf-debian:sid{% endif %}

RUN [ "cross-build-start" ]

{% set Dockerfile = Dockerfile|default('Dockerfile.j2') %}{% include Dockerfile %}

RUN [ "cross-build-end" ]
